* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;

}

header {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 10px 0 10px 53px;
        color: #606060;
        font-size: 2.5rem;
    }

}




.container-logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo {
    width: 50%;

}

.container-date {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    margin: 10px 23px 10px 0;



}

.current-date {

    width: 16%;
    height: 38px;
    font-size: 16px;
    color: #495057;
    padding: 0.375rem 0.75rem;
    border: 1px solid #BBBBBB;
    border-radius: 4px;


}

.container-wrap {
    padding: 0 50px;
}


main {
    width: 100%;
    background: #F4F4F4;

    padding: 14px 14px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;


}

.container-itens {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}


.container-currency {
    display: flex;
    flex-direction: column;
    align-items: self-start;

}


label {
    width: 25%;

}

p {
    margin-bottom: 10px;
}

select {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 38px;
    appearance: none;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    text-align: center;
    margin-bottom: 30px;


}

.input-currency {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 38px;
    appearance: none;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    padding: 0.375rem 0.75rem;
    text-align: right;
}

.arrow-button {
    width: 48px;
    font-size: 23px;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #025c75;
    border-color: #025c75;
    cursor: pointer;
    height: 38px;
    display: flex;
    align-items: center;
    margin-top: 35px;

}


.convert-button {
    width: 137px;
    height: 38px;
    font-size: 17px;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #025c75;
    border-color: #025c75;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}


.currency-image {
    width: 52px;

}


.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer {
    padding: 12px 50px;
    width: 100%;
    font-size: 16px;
    background: #F4F4F4;
    margin: 30px 0;
    border-radius: 0 0 10px 10px;
    line-height: 30px;

}


@media screen and (max-width: 915px) {

    header {
        align-items: center;

        h1 {
            margin: 20px 0;
            font-size: 1.8rem;
        }
    }

    .container-date {
        gap: 5px;
        flex-direction: column;
        align-items: end;
        margin: 0;

    }

    .container-wrap {
        padding: 0 10px;
    }

    main {
        padding: 15px;
        margin-bottom: 50px;
    }

    .container-itens {
        display: block;
        margin-top: 12px;

    }

    .current-date {
        width: 100%;
    }

    .container-currency {
        margin-bottom: 12px;
    }

    label {
        display: inline;
    }

    .container-left {
        flex-direction: row;
        justify-content: center;
        gap: 10px;

    }

    .container-arrow-button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

    }

    .arrow-button {
        width: 100%;
        justify-content: center;
    }

    .container-rigth {
        flex-direction: row;
        justify-content: center;
        gap: 10px;

    }
    
    .convert-button{
        width: 100%;
    }

    .container-footer {
        display: none;
    }

/* theme base */
/* .t-modal .modal-content{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-bottom: 3px solid transparent;

}

.t-modal .modal-header{
    padding: 30px 15px;
      
} */

/* primary */
/* .t-modal.primary .modal-header{
    background-color: azure;
    border: none;
    
}
.t-modal.primary .modal-content{
    border-color: red;
}

.t-modal.primary .modal-body{
    background-color: azure;
    border: none;
    color: red;
    font-size: 20px;
    padding: 0 36px;

}
.t-modal.primary .modal-footer{
    background-color: azure; */
    /* border: none; */

}